-i https://pypi.org/simple
certifi==2019.3.9
chardet==3.0.4
diskcache==3.1.1
ecdsa==0.13.2
esipy==1.0.0
future==0.17.1
futures==3.2.0
idna==2.8
pyaml==19.4.1
pyasn1==0.4.5
pyswagger==0.8.39
python-jose==3.0.1
pytz==2019.1
pyyaml==5.1
redis==3.2.1
requests==2.21.0
rsa==4.0
six==1.12.0
urllib3==1.23
validate-email==1.3
